<main class="login-container" role="main">
  <app-brand/>

  <section class="form-section right-panel" aria-label="Formulario de inicio de sesión">
    <article class="form-container">
      <header class="form-header">
        <h1 id="login-title">Iniciar sesión</h1>
        <p>Accede a tu cuenta para gestionar el refugio</p>
      </header>

      <app-form-generator
        [config]="loginConfig"
        (formSubmit)="onSubmit($event)">
      ></app-form-generator>
      
      <p><a href="#" class="forgot-link" tabindex="4">¿Olvidaste tu contraseña?</a></p>
      <div class="divider">
        <hr> <span>o inicia sesión con</span> <hr>
      </div>

      <nav class="oauth-buttons">
        <button
          type="button"
          class="oauth-button google"
          (click)="onGoogleLogin()"
          [disabled]="isCurrentlyLoading()"
          tabindex="6"
        >
          <mat-icon svgIcon="google"/>
          Google
        </button>
      </nav>

      <footer class="signup-link">
        <span>¿Nuevo en la plataforma? </span>
        <a href="#" class="signup-text" tabindex="7">Conoce más aquí</a>
      </footer>
    </article>
  </section>
</main>
