
@media (min-width: 768px) {
  main {
    /* background-color: #e0e7ff; */
    display: flex;
    
    aside {
      display: flex;
      flex-direction: column;
      width: 18em;
     
      header {
        background-color: rgb(88 101 242);
        color: rgba(255, 255, 255, 0.897);
        text-align: center;
      }
      
      section {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
      }
    }
  }
}
