<section class="brand-section left-panel" aria-label="Información de la aplicación">
    <header class="logo-section">
      <h1 class="app-title">PetSync</h1>
      <aside>
        <small>by</small>
        <figure>
          <img src="/logo-hackapet.svg" alt="Hackapet Logo" class="logo">
        </figure>
      </aside>
    </header>
    <article class="description">
      <h2>Gestión profesional para refugios de animales</h2>
      <p>Simplifica la administración de tu refugio con nuestra plataforma integral</p>
    </article>
  </section>
