<section>
  <header>
    <div>
      <mat-icon fontSet="material-symbols-outlined">search</mat-icon>
      <input id="search-animal" [formControl]="searchControl" type="text" placeholder="Buscar por adoptante o animal">
    </div>
    <nav>
      <button (click)="newAdoption()">
        <mat-icon fontSet="material-symbols-outlined">add_2</mat-icon>
        Adopción
      </button>
    </nav>
  </header>
  <article>
     @for (adoption of adoptions; track $index) {
      <app-adoption [adoptionData]="adoption" />
      }
  </article>
  <!-- <div class="results" style="display: flex; flex-direction: column;" *ngIf="filteredAnimals$ | async as animals">
    @for (animal of animals; track $index) {
      <adoption [animal]="animal" />
      } @empty {
        <p>No animals found matching your search.</p>
      }
  </div> -->
</section>